useDynLib("RaschSampler", .registration = TRUE)
import("stats")
export(rsampler)
export(rstats)
export(rsctrl)
export(rsextrobj)
export(rsextrmat)
export(phi.range)
S3method(summary, RSctr)
S3method(summary, RSmpl)
S3method(summary, RSmplext)
